<div class="container">
  <div class="row">
    <br><br>
    <center>
      <h1>Barzy</h1>
    <div class="admin-link" onClick="location = '/admin';">
      <%= link_to "Go To Admin", "", :class=>"btn btn-default admin-link-hover" %>
    </div>
    </center>
  </div>
</div>